body {
    margin: 0;
    @apply font-poppins bg-primary;
}

button {
    border: 0px;
    border-radius: 50px;
    padding: 14px 32px;
    @apply font-poppins;
    font-size: 14px;
}

header {
    @apply bg-primary;
    padding: 20px 30px 10px;
}

nav {
    @apply grid grid-cols-[20%_60%_20%];
    align-items: center;
}

nav div:first-child {
    @apply text-left;
}

nav div:nth-child(2) {
    @apply text-center;
}

nav div:nth-child(3) {
    @apply text-right;
}

.btn-full {
    @apply bg-grey;
}

nav ul {
    @apply list-none p-0;
}

nav li {
    @apply inline;
    margin-right: 70px;
}

nav li a{
    color: #fff;
}

a {
    text-decoration: none;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #d9d9d9;
    color: #d9d9d9;
}

.btn-header {
    display: flex;
    gap: 10px;
}

.hero {
    padding: 60px 90px;
    display: grid;
    grid-template-columns: 42% 58%;
    align-items: center;
}

.hero p {
    color: #fff;
    margin-bottom: 40px;
}

.hero div:nth-child(2) {
    text-align: right;
}

.hero div:nth-child(1) {
    margin-right: 40px;
}

.hero div:nth-child(1) h1 {
    color: #fff;
    font-size: 32px;
}

.btn-main {
    background-color: #FF8318;
    color: #fff;
}

.course {
    background-color: #D0DDF0;
    padding: 60px 280px;
}

.input-search {
    @apply mr-2;
    border: 0px;
    background-color: transparent
}

.search-container {
    @apply flex items-center transition-shadow duration-[0.3s] ease-[ease-in-out] rounded-[10px];
    border: 1px solid #000;
    padding: 2px 20px 2px 10px;
    margin-bottom: 20px;
}

.search-container input {
    @apply text-sm w-full p-2.5 rounded-[20px] border-[none];
    outline: none;
}

.search-container button {
    @apply cursor-pointer mr-[-5px] ml-0 mt-[5px] mb-0 p-0 border-[none];
    background: none;
}

.course h2 {
    text-align: center;
    color: #3B73C5;
    margin-bottom: 0;
}

.course p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.tabcontent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.benefit {
    background-color: #fff;
    padding: 60px 60px;
}

.benefit h2 {
    color: #3B73C5;
    text-align: center;
}